
@tailwind base;
@tailwind components;
@tailwind utilities;

.contiener{
    width: 90%;
    padding: 10px 40px;
    margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1240px;
    
  }
  }
  @media (max-width:1139px) {
      .menu ul{
        display: none;
      }
  }
  @media (max-width:763px) {
      .navbar{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .navbar a img{
       width: 100%;
      }
  }

  @media (max-width:500px) {
      
      .navbar button{
        width: 180px;
        height: 50px;
      }
  }


a{
    list-style: none;
    text-decoration: none;

}

a:hover{
    color: #5EB083;
}
button:hover{
  background-color: antiquewhite;
  color: black;
}
img{
  width: 100%;
}