
@tailwind base;
@tailwind components;
@tailwind utilities;

.contiener{
    width: 90%;
    padding: 10px 40px;
    margin: 0 auto;
}
@media (min-width: 1440px) {
  .container {

    max-width: 1240px;
  }
  }


a{
    list-style: none;
    text-decoration: none;

}

a:hover{
    color: #5EB083;
}
button:hover{
  background-color: antiquewhite;
  color: black;
}
