
@tailwind base;
@tailwind components;
@tailwind utilities;

.contiener{
    width: 90%;
    padding: 10px 40px;
    margin: 0 auto;
}
@media (max-width: 1400px) {
  .contiener {
    max-width: 1240px;
    
  }
  }
  @media (max-width:1139px) {
      .menu ul{
        display: none;
      }
  }
  @media (max-width:763px) {
      .navbar{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .navbar a img{
       width: 100%;
      }
  }

  @media (max-width:500px) {
      
      .navbar button{
        width: 180px;
        height: 50px;
      }
  }

  @media (max-width:1196px){
    .left h3{
      font-size: 50px;

    }
    .p{
      font-size: 15px;
    }
    .p1{
      font-size: 10px;
    }
  }

  @media (max-width:864px){
    
    .f{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  .left{
    
    order: 2;
      
  }
    .r{
      width: 100%;
    }

    }


a{
    list-style: none;
    text-decoration: none;

}

a:hover{
    color: #5EB083;
}
button:hover{
  background-color: antiquewhite;
  color: black;
}
img{
  width: 100%;
}

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }